coverage==5.1
pytest==5.4.1
pytest-runner==5.2
pytest-pylint==0.16.1
pytest-flake8==1.0.5
black==19.10b0 ; python_version>='3.6'
click==7.1.2 ; python_version>='3.6'
pylint==2.5.0
pytest-cov==2.8.1
jinja2==2.11.2
unittest-xml-reporting==3.0.2
flake8==3.7.9
sphinx==3.0.4
