coverage==4.5.3
setuptools_scm==3.3.3
setuptools_scm_about==1.0
pytest==4.5
pytest-runner==4.4
pytest-pylint==0.14.0
black==19.3b0 ; python_version>='3.6'
pylint==2.3.1 ; python_version>='3'
pylint==1.9.4 ; python_version<'3' # rq.filter: <2
pytest-cov==2.7.1
jinja2==2.10.1
